{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "name": "San Francisco",
        "minzoom": 0,
        "maxzoom": 18
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -122.4196,
          37.7659
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "name": "Madrid",
        "minzoom": 0,
        "maxzoom": 18
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -3.7005,
          40.4345
        ]
      }
    }
  ]
}
